# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Databases & User Data
data/*.db
data/backups/
exercices/user_submission.py
exercices/test_runner.py

# Environment & Temp
.venv/
venv/
scratch/
.tempmediaStorage/
*.log
*.pdf
